<div class="testimonials">
    <h2>What Our Customers Say</h2>
    <div class="testimonial">
        <p>"This service has transformed the way we do business. Highly recommend!"</p>
        <cite>- Jane Doe, CEO of Company A</cite>
    </div>
    <div class="testimonial">
        <p>"An amazing experience! The support team is fantastic."</p>
        <cite>- John Smith, Founder of Company B</cite>
    </div>
    <div class="testimonial">
        <p>"I can't imagine going back to how we operated before using this product."</p>
        <cite>- Emily Johnson, Marketing Director at Company C</cite>
    </div>
</div>